{% extends 'base.html' %}

{% block content %}
<div class="chat-container" style="max-height:400px; overflow-y:auto">
    {% for chat in chats %}
    <div class="d-flex justify-content-end mb-2">
        <div class="p-2 rounded bg-primary text-white" style="max-width:70%;">

            <div class="fw-bold small">{{chat.sender}}</div>

            <div>{{chat.message}}</div>

            <div class="text-end text-muted small">{{chat.created_at|time:"H:i"}}</div>
            <a href="{% url 'chat-delete' chat.id %}" class="btn btn-sm btn-danger ms-2">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>
<form action="" method="post" class="d-flex mt-3">
    {% csrf_token %}
    <input type="text" name="message" class="form-control me-2" placeholder="Enter your message......" required>
    <button type="submit" class="btn btn-success">Send</button>
</form>
{% endblock content %}